.black{

background-color: rgb(1, 12, 12);
padding: 100px;

max-width: 600px;
}
.red{
    background-color: rgb(238, 4, 4);
    padding: 100px;
   
   max-width: 600px;
}
.yellow{
    background-color: rgb(232, 239, 8);
    padding: 100px;
    
   max-width: 600px;
}